/* Color Palette */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-job-desc: #ebf5f7;
  --vt-c-job-desc-dark: #0c5f6e;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
  --v-theme-surface: rgba(17, 24, 39, 1);
  --vt-c-pink: #eb34e5;
}

/* Light Mode - Default */
/* :root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);
} */

.v-expansion-panel-title {
  font-weight: 700;
}

html.light {
  --color-text: var(--vt-c-black-soft);
}

html.light .v-expansion-panel-title {
  color: var(--vt-c-job-desc-dark);
}

html.dark .v-expansion-panel-title {
  color: var(--vt-c-job-desc);
}

html.light .mdi-calendar,
html.light .mdi-briefcase-search-outline {
  color: var(--vt-c-black-soft);
}

/* Dark Mode via class */
html.dark {
  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);

  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--vt-c-text-dark-2);
}

html.dark .v-menu > .v-overlay__content > .v-card,
html.dark .v-menu > .v-overlay__content > .v-sheet,
html.dark .v-menu > .v-overlay__content > .v-list {
  background-color: rgba(17, 24, 39, 1) !important;
}

html:not(.dark) .v-menu > .v-overlay__content > .v-card,
html:not(.dark) .v-menu > .v-overlay__content > .v-sheet,
html:not(.dark) .v-menu > .v-overlay__content > .v-list {
  background-color: #f3f4f6 !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: var(--color-background);
  color: var(--color-text);
  transition: color 0.4s ease, background-color 0.4s ease;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: 1rem;
}

/* Responsive font sizes */
@media (max-width: 480px) {
  body {
    font-size: 14px;
  }
}
